h2 {
  margin: 4rem 0rem 2rem 0rem;
  border-bottom: solid 1px rgb(29, 89, 153);
}

h3 {
  margin: 3rem 0rem 1rem 0rem;
  padding: 0rem 0rem 0.5rem 0.5rem;
  border-left: solid 2px rgb(29, 89, 153);
}

:root {
  --md-primary-fg-color:        #0057B7;
}

.md-banner {
  background-color: #009A44;
}

.md-footer-meta {
  background: #FFDD00;
}

.md-copyright {
  color: #000;
}

.md-copyright__highlight {
  color: #020202;
  font-weight: bold;
}

html .md-footer-meta.md-typeset a {
  color: #000;
}

.md-typeset .admonition, .md-typeset details {
  color: var(--md-admonition-fg-color);
  font-size: .74rem;
}

.md-typeset .admonition, .md-typeset details {
  background-color: var(--md-admonition-bg-color);
  border: .065rem solid #448aff;
}

.md-typeset .footnote-ref {
  font-size: 1.00em;
}

.md-content {
  max-width: 1024px;
}

.md-typeset .admonition-title, .md-typeset summary {
  font-weight: normal;
}

article a[href^="http"]::after,
article a[href^="https://"]::after
{
  content: "";
  width: 14px;
  height: 14px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}